SSEWeb2009/WebSite/_System/Error.dtd

<?xml version="1.0" encoding="utf-8" ?>

<!ELEMENT Error         (ErrorItem*)>

<!ELEMENT ErrorItem     (Date, Message, TargetSite)>
    
<!ELEMENT Date          (#PCDATA)>
<!ELEMENT Message       (#PCDATA)>
<!ELEMENT TargetSite    (#PCDATA)>

<!ATTLIST ErrorItem     EID     CDATA       #REQUIRED>